@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    height: 100%;

    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-pretty {
    text-wrap: pretty;
  }
  .no-outline {
    @apply no-underline outline-none focus:outline-none focus-visible:outline-none active:outline-none;
  }
}

body {
  background-color: #EEEEEE;
  max-width: 100dvw;
  overflow-x: hidden;
  touch-action: manipulation;
}
