@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    height: 100%;

    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
}
